.color {
  color: #42f1cb;
  color: #7cbbfa;
  color: #0ccbab;
  color: #bd4273;
  color: #a8bd42;
  color: #f7768e;
  color: #f7768e;
}

.originals {
  color: #bb9af7;
  color: #B5B5B5;
  color: #89DDFF;
}
